<p-table [columns]="cols" [value]="items" responsiveLayout="stack" styleClass="w-full" >
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" class="text-center">
              <span >{{col.header}}</span>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" >
      <tr>
          <td *ngFor="let col of columns" class="text-center">
            <span class="p-column-title font-bold mr-4">{{ col.header }}</span>
            <span *ngIf="col.pipe == 'date'">
              {{
                (col.subField)? rowData[col.field][col.subField] : rowData[col.field] | date : 'dd/MM/yyyy'
              }}
            </span>
            <span *ngIf="(col.pipe == '' || col.pipe == undefined)">
              {{
                (col.subField)? rowData[col.field][col.subField] : rowData[col.field]
              }}
            </span>
          </td>
      </tr>
  </ng-template>
</p-table>
