<div class="p-field my-2" [formGroup]="group">
  <label [for]="name">{{ label }}</label>
  <input
    type="text"
    [attr.readonly]="readonly ? '' : null"
    pInputText
    [id]="name"
    [formControlName]="name"
    autofocus
    autocomplete="off"
    [ngClass]="{
      'p-invalid':
        group.get(name)?.dirty && group.get(name)?.errors
    }"
    #crudInput
    [ngClass]="customClass"
  />
  <!-- {{group.get(name)?.errors | json}} -->
  <small
    class="p-invalid"
    *ngIf="group.get(name)?.dirty && group.get(name)?.errors"
  >
    {{ group.get(name)?.errors }}
  </small>
</div>
