<div class="flex align-items-center justify-content-center mx-2 flex-wrap my-6 text-center">
  <div class="shadow-3 w-full border-round grid ">
    <div class="col-0 md:col background"></div>
    <div class="col-12 md:col">
      <div class="flex justify-content-center my-2">
        <h1 class="m-2 text-gray-800">¡Bievenido a Salta EMR!</h1>
      </div>
      <form >
        <div class="flex justify-content-center">
          <p-button
            label="Iniciar sesión"
            icon="pi pi-sign-in"
            [loading]="isLoading"
            styleClass="p-button-raised p-button-secondary p-button-text"
            (onClick)="load()"
          ></p-button>
        </div>
      </form>
    </div>
  </div>
</div>
