<form [formGroup]="this.formGroup">
  <ui-input-text
    label="Nombre"
    [group]="this.formGroup"
    name="name"
    customClass="w-full"
  ></ui-input-text>
  <ui-input-text
    label="Apellido"
    [group]="this.formGroup"
    name="lastname"
    customClass="w-full"
  ></ui-input-text>
  <ui-calendar
    [group]="this.formGroup"
    name="registerDate"
    label="Fecha de Registro"
    [touchUI]="true"
  ></ui-calendar>
  <ui-dropdown
    label="Obra Social"
    [group]="this.formGroup"
    name="registerDate"
  ></ui-dropdown>
  <div class="flex justify-content-center mt-4">
    <button
      pButton
      pRipple
      type="button"
      label="Cancelar"
      (click)="cancel()"
      class="p-button-secondary mr-2"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Registrar"
      (click)="submit()"
    ></button>
  </div>
</form>
